$golosBlack: 'GolosBlack';
$golosBold: 'GolosBold';
$golosMedium: 'GolosMedium';
$golosDemi: 'GolosDemi';
$golosReg: 'GolosReg';
$warning: #EE4266;
$maindark: #03304F;
$darkgray: #B3B3B3;
$middlegray: #DDDDDD;
$brigthwhite: #F3F3F3;
$brightgray: #E5E5E5;
$almostwhite: #FCFCFC;
$white: #FFFFFF;
$brightmain: #57E1BD;
$darkmain: #1B9AAA;
$main: #26BDB4;